In [30]:
import pandas as pd 
import numpy as np

In [12]:
data= pd.read_csv('V5.csv')

In [13]:
data.shape

(10000, 12)

In [24]:
# function to count question mark in the dataset
def countQuestionMark(x):
    return str(x).count('?')
counts = data.map(countQuestionMark)
print(counts.values.sum())

1823

In [26]:
# checking value at a particular index for eample row 692 and col 0

data.iloc[692, 0]

'2009-11-16'

In [29]:
print(data.iloc[546, 7])

3

In [36]:
# Replacing ? in the data with NaN
data.replace('?', np.nan, inplace=True)

In [33]:
data.Locality.unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [39]:
data.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [40]:
# droping rows based on  threshold value
data_cleaned_threshold = data.dropna(thresh=data.shape[1] - 2)

In [42]:
data_cleaned_threshold.shape

(9917, 12)

In [46]:
data_cleaned = data.dropna()

In [47]:
data_cleaned.shape

(5449, 12)

In [48]:
# Select all even index rows
even_indexed_rows = data.iloc[::2]

In [58]:
value = even_indexed_rows.iloc[332, 3]

In [59]:
print(value)

256200.0

In [60]:
odd_indexed_rows = data.iloc[1::2]

In [63]:
value_odd = odd_indexed_rows.iloc[100, 5]

In [64]:
print(value_odd)

Single Family

In [65]:
even_rows_even_cols = data.iloc[::2, ::2]

In [66]:
value_odd_even = even_rows_even_cols.iloc[255, 3]

In [67]:
print(value_odd_even)

Detached House

In [70]:
# Filter rows where num_rooms = 3 or num_bathrooms = 3
filtered_df = data[(data['num_rooms'] == 3) & (data['num_bathrooms'] == 3)]

# Get the number of samples (rows) in the filtered DataFrame
num_samples = filtered_df.shape[0]

In [71]:
print(num_samples)

2730

In [73]:
filtered_df1 = data[
    (data['Year'] == 2022) &  # Year = 2022
    (data['Locality'] == 'Greenwich') &  # Locality = Greenwich
    (data['num_rooms'] == 3) &  # num_room = 3
    (data['Face'].isin(['North', 'East']))  # Facing either North or East
]

In [75]:
num_houses = filtered_df1.shape[0]

In [76]:
print(num_houses)

42

In [77]:
data['Date'] = pd.to_datetime(data['Date'])

In [78]:
august_rows = data[data['Date'].dt.month == 8]

In [80]:
print(august_rows.shape)

(1050, 12)

In [81]:
avg_sale_price_by_locality = data.groupby('Locality')['Sale Price'].mean()

In [82]:
highest_avg_locality = avg_sale_price_by_locality.idxmax()
highest_avg_price = avg_sale_price_by_locality.max()

In [83]:
highest_avg_locality

'Greenwich'

In [84]:
highest_avg_price

np.float64(2270223.539495238)

In [85]:
avg_sale_price_by_locality

Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64

In [2]:
from sklearn.datasets import fetch_california_housing

In [99]:
import numpy

In [1]:
import numpy

print(numpy.__version__)

1.26.4

In [3]:
housing_data = fetch_california_housing()

In [7]:
print(housing_data.data.shape)

(20640, 8)